VITE_SUPABASE_URL=https://wzdpfojxzhvfighmsxdp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6ZHBmb2p4emh2ZmlnaG1zeGRwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyNzg3MDUsImV4cCI6MjA4ODg1NDcwNX0.w2OETC8IGujJxUWat19GN4bDLAIZ3x64tNh6D5DGdPw
